@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  overscroll-behavior-y: contain;
  background-color:#1b1b1b;
  color:white;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}
/* Higelight in mobile web is transparent*/
* {
  -webkit-tap-highlight-color: transparent;
}
/* Disable arrows in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

@tailwind components;

@tailwind utilities;
